@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5044E5;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* szerokość scrollbara */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6d8f91, #afe5e6); /* gradient jak w przycisku */
  border-radius: 9999px; /* maksymalne zaokrąglenie */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5b7576, #8fd4d5); /* ciemniejszy gradient przy hover */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* track niewidoczny */
}